/* Move content down on open menu */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}

 .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

.report_title {
    font-size: large;
    font-weight: bold;
}

.top_buffer {
    margin-top: 10px;
}

.logo {
    height: 30px;
    position: relative;
    bottom: 4px;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/robotodraft-light.woff) format('woff');
 }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/robotodraft-regular.woff) format('woff');
 }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/robotodraft-medium.woff) format('woff');
}

body {
	overflow-x: hidden;
	font-family:  'Roboto', Arial, Tahoma, Verdana, sans-serif;
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #4E8C8F;
  outline: 1px solid slategrey;
}

a {
    color: #347A7D;
}

a:hover {
    color: #194345;
}

.btn-primary {
    background-color: #347A7D;
    border-color: #4E8C8F;
    color: #fff;
}

.btn-primary:hover {
    background-color: #194345;
    border-color: #2D5254;
    color: #fff;
}

.input-group-addon {
    border: 1px solid #4E8C8F;
}

.form-control {
    border: 1px solid #4E8C8F;
}

.img-thumbnail {
    border: 1px solid #4E8C8F;
}

.navbar-default {
    background-color: #6CA2A4;
    border-color: #4E8C8F;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #4E8C8F;
    color: #0A2E1F;
}

.well {
    background-color: #94BFC1;
    border: 1px solid #4E8C8F;
}

