/* Move content down on open menu */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}

 .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

.report_title {
    font-size: large;
    font-weight: bold;
}

.top_buffer {
    margin-top: 10px;
}

.top_buffer_home {
    margin-top: 300px;
}

.logo {
    height: 30px;
    position: relative;
    bottom: 4px;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/robotodraft-light.woff) format('woff');
 }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/robotodraft-regular.woff) format('woff');
 }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/robotodraft-medium.woff) format('woff');
}

body {
	overflow-x: hidden;
	font-family:  'Roboto', Arial, Tahoma, Verdana, sans-serif;
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #4E8C8F;
  outline: 1px solid slategrey;
}

a {
    color: #d61d25;
}

a:hover {
    color: #a01d23;
	text-decoration: none !important;
}

/* Primary buttons */
.btn-primary {
    background-color: #7695AD;
    border-color: #577C98;
    color: #fff;
}

/* Primary button on mouseover */
.btn-primary:hover {
    background-color: #577C98;
	border-color: #fff !important;
    color: #fff;
}

/* Primary button on mousedown */
.btn-primary:active {
    background-color: #3C6585 !important;
    color: #fff;
}

/* Primary button on focus */
.btn-primary:focus {
    background-color: #3C6585 !important;
    color: #fff;
}

/* Login symbols border */
.input-group-addon {
    border: 1px solid #999;
}

/* Input fields */
.form-control {
    border: 1px solid #aaa;
}

/* Inputs fields when selected */
.form-control:focus {
    border: 1px solid #d61d25 !important;
	box-shadow: 0px 0px 3px #d61d25 !important;
}

/* Image borders */
.img-thumbnail {
    border: 1px solid #aaa;
}



.navbar-default {
	/* Gradient Navigation */
    background: linear-gradient(to bottom, #ffffff 0%, #dbdbdb 100%);
    border-color: #dbdbdb;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    /* Background color of navigation item */
	background-color: transparent;
	/* Text color of navigation item */
    color: #000;
}


.well-sm {
	/* Background color content box */
    background-color: #eee;
	
	/* Border of content box */
    border: 1px solid #999;
}

.well-lg {
	/* Background color content box */
    background-color: #eee;
	
	/* Border of content box */
    border: 1px solid #999;
}

.well-green{
	/* Background color content box */
    background-color: #CCECCC;
	
	/* Border of content box */
    border: 1px solid #999;
}

.well-red{
	/* Background color content box */
    background-color: #FFC4C4;
	
	/* Border of content box */
    border: 1px solid #999;
}

.home-background {
	background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#home-headline-container {
	text-align: center;
}

#home-headline-main {
	color: #fff;
	font-size: 23px;
	font-weight: lighter;
	text-shadow: 0px 0px 3px #000;
	font-family: 'Roboto', Arial;
}

#home-headline-sub {
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	text-shadow: 0px 0px 3px #000;
	font-family: 'Roboto', Arial;
}

/* Fixes background resizing in index.html */
@media (max-width: 979px) {
  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
  }
}

.navbar-absolute + div {
    margin-top: 68px;
}

.facebook-background {
	background: #3b5998;
	color: #fff;
}

.google-background {
	background: #d34836;
	border-color: #AF2C1B;
	color: #fff;
}