/* Move content down on open menu */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}

.report_title {
    font-size: large;
    font-weight: bold;
}

.report_details_buffer {
    margin-top: 10px;
}
